<div class="wrapper">
    <%   
    if(page) {%>
      <% page.posts.each(function(article){ %>
        <%- partial('./_partial/article', {item: article, index: true})%>
      <% }) %>
    <% } %>
</div>
<div class="pagination">
  <%- include('./_partial/pagination.ejs'); -%>
</div>
