<!DOCTYPE html>
<html lang="en">
<%-partial('./_partial/head.ejs')%>
<body>
    <%-partial('./_partial/header.ejs')%>
    <main>
        <%- body %>
    </main>
    <%- partial('./_partial/footer.ejs') %>
</body>
</html>