@media screen and (min-width:300px) and (max-width: 768px)
  .logo
    flex: 1 100%
    margin-right: 0
    text-align: center
    margin-bottom: 50px
  nav
    padding: 30px 18px
  .wrapper
    padding: 0px 12px
  .timeline-box
    padding-left 0
  .tag-box
    padding: 10px 20px
    ul
     padding: 0
    


