html,body {
  height: 100%;
  width: 100%;
}
nav {
  display: flex;
  min-height: 80px;
  padding: 0 45px;
  color: #000;
}
.logo {
  flex: 1;
  margin-right: auto;
}
.nav-item {
  margin-right: 40px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-item:not(.logo) > a:after {
  content: " ";
  height: 2px;
  width: 0;
  background: #000;
  display: block;
  transition: all .3s;
  margin: auto;
}
.nav-item > a:hover:after{
  width: 100%;
}