
@import 'reset.styl'
@import '_partial/icon.styl'
  
.overflow-ellipsis
  white-space nowrap
  text-overflow ellipsis
  overflow hidden

hover-color = #ffc166

html, body
  height 100%
  width 100%
  padding 0
  margin 0
  font-family 'YakuHanJPs', '游ゴシック', 'YuGothic', 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'ＭＳ ゴシック', sans-serif

body
  min-height 100%
  display flex
  flex-direction column
  max-width 1080px
  margin auto
  background: #f5f7f9

body.with-bg
  background-image url('../imgs/main_vsl01_pressed.jpg')
  background-repeat no-repeat
  background-size cover
  background-attachment fixed
  background-position 0px -110px

nav
  display flex
  flex-direction row
  flex-wrap: wrap
  align-items: center
  justify-content: space-around
  color #000
  padding 30px 180px 0

a
  text-decoration none
  color inherit

main
  flex 1

main::before
  display block
  width 100%
  height 100%
  content ' '
  max-width 1080px
  position absolute
  z-index -1

.logo
  flex: 0.7

.logo .btn
  position: relative
  display: inline-block
  width: auto 
  height: auto
  background-color: transparent
  border: none
  cursor: pointer
  min-width: 150px
  padding: 5px
  span
    position: relative
    display: inline-block
    font-size: 14px
    font-weight: bold
    letter-spacing: 2px
    text-transform: uppercase
    top: 0 
    left: 0
    padding: 15px 20px
    transition: 0.3s
    width: 100%
    color: rgb(255, 255, 255)
    background-color: rgb(54, 56, 55)
    box-sizing: border-box
  &::before
  &::after
    background: transparent
    z-index: 2
    position: absolute
    content: ""


.btn.btn-hover
  &::after
  &::before
    width: 10%
    height: 25%
    transition: 0.35s

.btn.btn-hover
  &::before 
    bottom: 0 
    left: 0
    border-left: 1px solid rgb(28, 31, 30)
    border-bottom: 1px solid rgb(28, 31, 30)

.btn.btn-hover
  &::after 
    top: 0 
    right: 0
    border-right: 1px solid rgb(28, 31, 30)
    border-top: 1px solid rgb(28, 31, 30)

.btn.btn-hover
  &:hover
    &::before
    &::after
      width: 99%
      height: 99%


.nav-item
  font-size 18px
  font-weight 700

.nav-item:last-child
  margin-right 0

.nav-item:not(.logo) > a:after
  content ' '
  height 2px
  width 0
  background #000
  display block
  transition all 0.3s
  margin auto

.nav-item > a:hover:after
  width 100%

.wrapper
  flex 1
  padding 50px 150px

.footer
  text-align center
  padding 25px 0
  color #999

  a
    color #000

  a.active
    color hover-color

  .hexo
    margin-top: 5px

// Article
article
  margin-top 50px
  line-height 24px
  img
    max-width 100%
article.post-article img
    transition: 0.3s ease
    filter: grayscale(95%)
    &:hover
      filter: grayscale(0)

.article-title
  color #000
  font-size 30px
  font-weight 700
  transition opacity 1s ease-out
  margin-top 15px
  margin-bottom 20px

article .article-title-detail
  @extend .article-title
  text-align center

article .article-title:hover
  opacity 0.8

article .article-top-meta .post-tag
  display inline-block
  margin-right 3%
  border 0.15em #094C9E solid
  border-radius 0.3em
  font-weight bold
  font-size 1em
  color #094C9E
  padding 5px 5px

article .article-content
  margin-top 35px

article .article-footer
  display flex
  flex-direction row
  margin-top 20px

.article-footer .pull-left
  flex-grow 1

.read-more
  margin-top 8px

article .read-more a
  text-decoration underline

article .read-more a:hover
  color #ffc166

.posted-on
  font-weight 700
  margin-left -6px

.posted-on-detail
  @extend .posted-on
  text-align center

.driver
  height 2px
  width 50%
  background #f7f7f7
  margin 50px auto

nav.pagination
  display flex
  margin auto
  flex-direction row
  justify-content center

nav.pagination .pagination-item
  width 30px
  height 30px
  text-align center
  font-size 18px
  line-height 30px
  margin-right 15px
  border-radius 50%

.pagination-prev, .pagination-item:last-child
  margin-right 0

nav.pagination .active
  background #000
  color #fff
  margin 0 15px

.pagination-prev, .pagination-next
  color #000
  font-size 18px
  text-transform uppercase
  line-height 30px

.pagination-prev
  margin-right 25px

.pagination-next
  margin-left 25px

.post
  max-width 770px
  margin auto

// Timeline page(archive)
.timeline-title
  text-align center
  color #999

.timeline-box
  padding-left calc(50% - 79px)

.timeline
  display flex
  flex-direction row

.line-date
  font-weight 500
  min-width 70px
  flex-basis 70px

.line-dot
  width 18px
  min-width 18px
  height 18px
  background #000
  border-radius 50%
  flex-basis 18px
  position relative

.line-dot-sm
  width 13px
  height 13px
  background-color #fff
  position absolute
  top 50%
  left 50%
  transform translate3d(-50%, -50%, 0)
  border-radius 50%

.line-title
  padding-left 40px
  transition color 0.24s ease
  font-size 16px
  @extend .overflow-ellipsis

.line-title:hover
  color #ffc166

.line-h
  height 50px
  width 100%
  border-left 4px solid #000
  position relative
  transform translate3d(77px, 0, 0)

.current-year
  font-size 25px
  font-weight 700

.current-dot
  background #000
  width 32px
  height 32px
  flex-basis 32px
  min-width 32px
  margin-left -7px

.current-dot-sm
  width 24px
  height 24px

// About
.about-title
  text-align center
  color #999

.intro
  text-align center
  color #000
  font-size 20px

// musicbar
@keyframes rotate360
  from
    transform rotate(0deg)

  to
    transform rotate(360deg)

.paused .left
  width 50% !important

.paused .right
  width 50% !important

.paused .trangle-1
  transform translate(0, -50%) !important

.paused .trangle-2
  transform translate(0, 50%) !important

// Tag page
.article-tag-list
  list-style-type none
  display flex
  flex-direction row

.article-tag-list li
  color blue

.tag-box
  // border: 3px solid #414141
  min-height 450px
  padding 20px 40px

.tag-title
  text-align center
  color #999

.tag-list li
  font-size 18px
  font-weight 600
  transition color 0.24s ease
  border-bottom 1px dashed #414141
  margin-bottom 20px
  padding-bottom 5px
  list-style-type none

.tag-list li:hover
  color #ffc166

.tag-list li a
  display flex
  flex-direction row

.tag-post-title
  flex 1
  margin-right 30px
  @extend .overflow-ellipsis

.card
  background #fff
  border-radius 6px
  box-shadow 0 4px 6px rgba(0, 0, 0, 0.08)
  padding 20px 30px

#gitalk-container
  margin-top 3px

blockquote 
  margin: 0;
  padding: 0 15px;
  color: #666;
  border-left: 4px solid #ddd;

blockquote cite::before 
  content: "-";
  padding: 0 5px;


table th 
  border-top: 1px solid #414141
  border-left: 1px solid #414141
table
  border-spacing: 0px
  border-right: 1px solid #414141
  border-bottom: 1px solid #414141
td 
  border-top: 1px solid #414141
  border-left: 1px solid #414141


@import 'mobile.styl'