<div class="footer">
<div class="copy">
&copy;<% const now = new Date(); %> <%= now.getFullYear(); %> Burgerking |
Theme created by <a href="https://github.com/JackZong" target="_blank">@J.zong</a> 
</div>
  <div class="hexo">
    Powerd by <a href="http://hexo.io/" target="_blank">Hexo</a>
  </div>       
</div>
</body>
</html>