<head>
    <title>『君の名は。』</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%- config.root %>css/style.css" type="text/css">
   <!--  <script type="text/javascript" src="<%- config.root%>js/musicbar.js"></script>
        <script>
      window.onload = function() {
        const mb = new MusicBar({ 
          url:'/music/daydaymissyou.mp3',
          thumb: "https://y.gtimg.cn/music/photo_new/T002R300x300M0000007oL0R1hDyxV.jpg?max_age=2592000"
        });
        mb.createVideo();
      }
    </script> -->
</head>
