<nav>
  <div class="nav-item logo">
    <a href="<%-config.root;%>">
      <button class="btn btn-hover">
        <span>
          <%= theme.title %>
        </span>
      </button>
    </a>
  </div>
  <% for(let nav in theme.Menu){ %>
    <div class="nav-item"><a href="<%- url_for(theme.Menu[nav]) %>">
        <%= nav; %>
      </a></div>
    <% } %>
</nav>