
    <nav>
        <div class="nav-item logo"><a href="#"><%= theme.title %></a></div>
        <div class="nav-item"><a href="#">Home</a></div>
        <div class="nav-item"><a href="">Archive</a></div>
        <div class="nav-item"><a href="#">Tag</a></div>
        <div class="nav-item"><a href="#">Category</a></div>
        <div class="nav-item"><a href="#">About</a></div>
    </nav>
<div class="driver"></div>